.wrapper {
    background-image: url(../img/background-3.png);
}

header {
    
        background-image: url(../img/top-layer.png);

}


header .buttons button {
    background: #9e2e32;
    padding: 4px 30px;
    border: none;
    border-radius: 40px;
    color: white;
    backdrop-filter: blur(0px);
    margin-top: 7px;
}